.general {
	margin: auto;
	background-color: darkgrey;
	padding-top: 1em;
	margin-top: 3em; 
	width: 40%; 
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	border-radius: 1em;
}
.pantalla {
	width: 55%;
	height: 5em;
	background-color:#fff;
	display: block;
}
.botones {
	margin: 1em 1em;
	padding: 2em;
}

.izq {
		margin-left: 22%;
	}
.red{
	background-color: lightcoral;
}
/*Responsive*/ 

@media (min-width:1051px) and (max-width:1980px){

}
@media (min-width:768px) and (max-width:1050px){
	.general {
	background-color:aquamarine;
	margin-top: 3em; 
	width: 100%; 	
}

.pantalla {
	width: 50%;
	height: 3em;
	margin-top: 1em;
}
.botones {
	margin: 1em 1em;
	padding: 2em;
}
.izq {
		margin-left: 20%;
	}

}
@media (max-width:767px){
	.general {
	background-color:aquamarine;
	margin-top: 3em; 
	width: 100%; 	
}

.pantalla {
	width: 50%;
	height: 3em;
	margin-top: 1em;
}
.botones {
	margin: 1em 0.6em;
	padding: 0.6em;
}
.izq {
		margin-left: 18%;
	}

}
@media (max-width:479px) {


}